.team-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 0 2em 0;;
  padding: 0;

  & li {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 960px) {
      flex-direction: row;
      align-items: center;
    }
    &>div {
      @media screen and (min-width: 960px) {
        margin: 1em 1em;
      }
      
      & .profile-content {
        width: 100%;
        @media screen and (min-width: 560px) {
          width: 60ch;
        }
      }

      & img {
        width: 100%;
	@media screen and (min-width: 460px) {
          width: 40ch;
        }
      }
    }
  }
}
