@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap');
@import 'common.scss';
@import 'utils.scss';

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.center-content {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
