.confident {
  display: flex;
  flex-direction: column;
  margin: 8em auto !important;
  &__body {
    margin-top: 50px;
    display: flex;
  }
  &__left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    padding-left: 20px;
  }
  &__row {
    display: flex;
    align-items: center;
  }
}
